KomiXRyu/config.py
logfile
KomiXRyu.session
KomiXRyu.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
KomiXRyu.mp3
gpic.png
