YorForger/config.py
logfile
YorForger.session
YorForger.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
YorForger.mp3
gpic.png
